<html>
<head>
	<title>🍰</title>
	<style>
		#pc {
			text-align: center;
			margin-top: 10%;
			width: 100%;
			}
		.e {
			width: 10%;
		}
	</style>
</head>
<body>
	<div id='pc'>
		<img id='cake' class='e' src='/images/cake.svg'>
	</div>
	<h1>New Cake</h1>

	<form id="new-cake">
	caption: <input id="cake-caption" type="text" name="caption"><br><br>
	url: <input id="cake-url" type="text" name="url"><br><br>
	<input type="submit" value="submit">
	</form>
	<submit></submit>
</body>

<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
<!--<script type="text/javascript" src="js/jquery.mobile-1.4.5.min.js">-->
<script type="text/javascript" src="/js/script.js"></script>
</html>